*{
  margin: 0px;
  padding: 0px;
  font-size: 50px
}

.container{
  display: grid;
  width: 800px;
  height: 400px;
  margin-left: 20%;
  margin-top: 30vh;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: dense;
  padding: 5px;
  border: solid 5px;
}

.item{
  width: auto;
  height: auto;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item-1,.item-5{
  background-color: green;
}
.item-2,.item-6{
  background-color: blue;
}
.item-3,.item-7{
  background-color: red;
}
.item-4,.item-8{
  background-color: yellow;
}
.item-1,.item-2,.item-3,.item-4{
  grid-column: span 1;
  grid-row: span 4;
}

.item-5,.item-6,.item-7,.item-8{
  grid-column: span 4;
  grid-row: span 1;
}